@charset "utf-8";
/* CSS Document */
/*Espacios*/
.space1 {
    height: 10px;
    display: block
}
.space2 {
    height: 20px;
    display: block
}
.space3 {
    height: 30px;
    display: block
}
.space4 {
    height: 100px;
    display: block
}
.space5 {
    height: 50px;
    display: block
}
.nopadding {
	padding:0;
}
.nomargin {
	margin-top: 0;
	margin-bottom: 0;
}

/*Body*/
body {
    width: 100%;
    height: 100%;
	font-family: 'Lato', sans-serif;
	font-feature-settings: "kern", "liga", "pnum";
    color:#3c1821;
    background-color: #fff;
	min-width: 320px;
}

html {
    width: 100%;
    height: 100%;
}

.header {
	background-color:#781600;

	width: 100%;
}
.header img {
	margin: auto;
	margin-bottom: 1em;
	margin-top: 1em;
}
.social-header {
	text-align:right;
	padding-top: 2em;
}
@media all and (max-width:991px){
	.social-header {
		text-align: center;
		padding-top: 2em;
		padding-bottom: 1em;
	}
}
.social-header a {
	font-size:24px;
	color: #fff;
	padding-right:.5em;
}
.social-header a:hover {
	color: #f3a91d;
}
.pse.btn {
	background-color: rgba(255,255,255,1);
	height: 41px;
	width: 60px;
	padding: 0;
	margin-top:-5px;
	border:none;
}
@media all and (max-width:336px){
	.pse.btn {
		margin-top:5px;
	}
}
.pse img {
	margin: 0;
}
a.pse:hover {
	background-color: rgba(243,169,29,1);	
}
.phone-header a {
	color: #fff;
	font-weight:700;
	font-size:16px;
}
.phone-header a:hover {
	color: rgba(243,169,29,1);
	text-decoration:none;
}
.phone-header i {
	font-size:20px;
	color: #fff;
}
.title {
	/*background-image:url(../../images/title_background_2.jpg);*/
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:bottom;
	background-size:cover;
}
.title h1 {
	font-size: 4em;
	padding-bottom: .3em;
	color: #781600;
	font-weight:700;
	margin-top: 10px;
}
@media all and (max-width:420px){
	.title h1 {
		font-size: 3em;
		padding-bottom: .3em;
		color: #781600;
		font-weight:700;
		
	}
}
.title p {
	font-weight:200;
	font-size: 25px;
	color: #000;
}
.title .left {
	padding-top: 1.5em;
}
.title .right {
	display:block;
	bottom:0px;
	padding-top:20px;
}
.curso {
	background-color: #FFF4CA;
	color:  #781600;
}
.curso h2 {
	font-size:20px;
	font-weight:200;
}
.beneficios {
	color: #781600;
	text-align:center;	
}
.beneficios h1 {
	font-size:50px;
	font-weight:200;
}
.beneficios h2 {
	font-weight:200;
}
.beneficios p {
	color: #000;
}
.cita {
	font-style:italic;
	font-size:16px;
	color: #000;
}
p.autor {
	font-size:14px;
	font-weight: 700;
}
.footer {
	background-color: #781600;
	color: #fff;
	font-size:12px
}
.footer a {
	color: #fff;
}
.footer a:hover {
	color: #f3a91d;
	text-decoration:none;
}
.social-footer {
	text-align:center;
	padding-top: 2em;
}
@media all and (max-width:991px){
	.social-footer {
		padding-bottom: 1em;
	}
}
.social-footer a {
	font-size:18px;
	color: #fff;
	padding-right:.2em;
	padding-left: .2em;
}
.social-footer a:hover {
	color: #f3a91d;
}
a.back-to-top {
	display: none;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	background: #000 url("../../images/up-arrow.png") no-repeat center 43%;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

.form-block {
    padding-left: 0;
    padding-right: 0;
}
.form-block-container {
    width: 100%;
    z-index: 20;
    display: block;
    margin: 0 auto;
    padding-top: 9px;
    position: relative;
}
.form-block-container::after {
    content: '';
    clear: both;
    display: table;
}
.form-block-container.text-center {
    padding-top: 0;
}
.form-block-container p {
    line-height: 1.6;
}
.form-block-container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}
.form-group label::before {
    background-color: #ffffff;
	opacity: 0.30;
}
.form-group {
    width: 100%;
    display: block;
    line-height: 0;
    position: relative;
    margin: 0 auto 30px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.form-control {
    border: 0;
    z-index: 2;
    height: 44px;
    color: #121212;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 500;
    border-radius: 0;
    line-height: 24px;
    position: relative;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: transparent;
}
.form-control:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
textarea.form-control {
    resize: none;
    height: 70px;
}
.form-group label {
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    cursor: text;
    display: block;
    color: #515151;
    margin: 0 auto;
    padding: 10px 0;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    line-height: 24px;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
}
textarea.form-control+label {
    padding: 10px 0 36px;
}
.form-group label::before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    content: '';
    position: absolute;
    background-color: #222;
}
.form-group label::after {
    width: 0;
    left: 50%;
    bottom: 0;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #781600; /*color borde*/
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
}
.form-control:focus+label::after {
    left: 0;
    width: 100%;
}
.form-control:focus+label,
.form-control.input-filled+label {
    padding-top: 0;
    font-size: 14px;
    line-height: 14px;
    padding-bottom: 40px;
}
textarea.form-control:focus+label,
textarea.form-control.input-filled+label {
    padding-bottom: 66px;
}
.form-group label.error {
    color: #ff0000;
}
.modal a.close-modal {
	top: 3.5px;
	right: 3.5px;
}
#habeas-modal p {
	font-size: 1.75rem;
	font-weight: 100;
}
#habeas-error.error {
	color: #ff0000;
	font-weight: normal;
	margin-right: 0.5rem;
	margin-bottom: 0;
}
.blocker {
	z-index: 100;
}
#habeas-label {
	font-size: 1.5rem;
	font-weight: 100;
	margin-left: 0.5rem;
}
#habeas-label input {
	margin-right: 0.5rem;
}
.form-group label.error::after,
.form-group .form-control.error+label::after {
    left: 0;
    width: 100%;
    background-color: #ff0000;
}
.btn-gfort {
    border: 0;
	/*bac*/
    z-index: 15;
	background-color:#781600;
	color: #fff;
    font-size: 14px;
    overflow: hidden;
    font-weight: 700;
    line-height: 24px;
    position: relative;
    padding: 10px 30px;
    border-radius: 2px;
    margin: 30px 10px 0 0;
    outline: none!important;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
}
.btn-gfort:hover {
	color: #781600;
	background-color: #fff;
}
.wave-effect {
    z-index: 15;
    overflow: hidden;
    position: relative;
}
a.sticky {
	position:fixed;
	bottom: 50px;
	left: 0px;
}
a.sticky:hover {
	color: #fff;
	background-color:#781600;
}
.sticky {
	font-size:24px;
	font-weight:700;
	line-height: 30px;
	color: #FC3;
	z-index: 999;
	background-color:#781600;
	border-radius: 0px 20px 20px 0px;
	border:  none;
	padding: 15px;
	 -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.56), 0 3px 12px rgba(0, 0, 0, 0.12);
}
.sticky .footer {
	font-size: 25px;
	font-weight:200;

}
.sticky:focus {
	background-color:#781600;
}
.sticky .footer:hover {
	font-weight:500;
	color: #FC3;
}

@media all and (max-width:799px){
	.movil-cta {
		display:inline-block;
	}
	.hide-movil {
		display:none;
	}
}
@media all and (min-width:800px){
	.movil-cta {
		display:none;
	}
	.hide-movil {
		display:block;
	}
}


.movil-cta {
	background-color:#781600;
	color: #fff;
	padding-top: em;
	text-align: center;
}
a.movil-cta {
	color: #FC3;
	text-decoration:none;
}
a.movil-cta:hover {
	color: #FFF;
	text-decoration:none;
}
.formulario2, .formulario {
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;
}
.formulario h2, .formulario2 h2{
    color: #781600;
    padding-bottom: 1em;
}
.formulario2 {
	/*background-image:url(../../images/formbackground.jpg);*/
}
.formulario {
	background-image: url(../../images/formbackground2.jpg);
}
.blanco {
    background-color: #fff;
    padding: 2em;
}